Practice_start.pyc
selectSession.pyc
timeMap.pyc
wordMap.pyc
story.txt
username.txt
news.txt
usernameWindow.pyc
resultWindow.pyc
currentAffairs.txt
username.txt~
currentAffairs.txt~
news.txt~
audio_edit.pyc
createChallenge.pyc
challengeTimeMap.pyc
challengeWordMap.pyc
Join.pyc
server.pyc
client.pyc
Practice_start.py~
multiType.pyc
result.txt